


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>UserPage</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/todo.css}">
</head>
<body>
 <header class="header fixed">
  <form method="post" th:action="@{/logout}" name="logout">
   <a href="javascript:logout.submit()" class="text">ログアウト</a>
  </form>
  <div class="border"></div>
  <a th:href="@{/main}" class="text">カレンダー</a>
  <div class="border"></div>
  <a
   th:href="@{/main/create/{date}(date=${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')})}"
   class="text">登録</a>
 </header>

 <div class="todo sd">
  <div class="sd">
   <p class="title text sd">ToDo</p>
   <div class="todo_header">

    <form th:action="@{/main}" name="form1">
     <span class="material-icons sd"><input type="hidden"
      name="date" th:value="${#temporals.format(prev, 'yyyy-MM-dd')}"><a
      class="prevnext" href="javascript:form1.submit()">keyboard_arrow_left</a></span>
    </form>
    <p class="test sd" style="margin: 5px 0px" th:text="${month}"></p>
    <form th:action="@{/main}" name="form2">
     <span class="material-icons sd"><input type="hidden"
      name="date" th:value="${#temporals.format(next, 'yyyy-MM-dd')}"><a
      class="prevnext" href="javascript:form2.submit()">keyboard_arrow_right</a></span>
    </form>
   </div>

   <div class="sd">
    <div class="calendar_row sd">
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">SUN</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">MON</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">TUE</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">WED</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">THU</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">FRI</p>
     </div>
     <div class="calendar_box sd">
      <p class="calendar_title_text sd">SAT</p>
     </div>
    </div>
    <div class="calendar_row sd" th:each="week : ${matrix}">
     <div class="calendar_box  sd" th:each="day : ${week}">
      <div>
       <a th:href="@{/main/create/{date}(date=${day})}">[[${day.dayOfMonth}]]</a>
      </div>
      <div th:each="t : ${tasks.get(day)}">
       <a th:if="${t}" th:href="@{/main/edit/{id}(id=${t.id})}"> <span
        th:if="${t.done}">✅</span><span th:text="${t.title}"></span></a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</body>
</html>



